/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

header {
	padding: 3rem 3rem 5rem;
	background-color: #0f8ec7;
	color: white;
}

header > .company-name {
	font-size: 2rem;
}

main {
	padding: 3rem 3rem;
}

.letter-header .my-address {
	float: right;
	color: #555;
}

.letter-header .your-address{
	clear: both;
	color: #555;
}

.letter-header .my-address .addressee, .letter-header .your-address .addressee {
	color: black;
}

#invoice {
	margin: 4rem 0 2rem;
}

#invoice .account-number, #invoice .addressee {
	margin-bottom: 1rem;
}

#invoice .account-number {
	color: #555;
}

#invoice .account-number span {
	color: black;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 2rem 1rem 1rem 1rem;
	background: #f2f2f2;
}

footer p {
	font-size: 10px;
	color: #a7a7a7;
	text-align: center;
	line-height: 14px;
}

@media print {
	@page {
		margin: 0;
	}
}